apiVersion: v1
kind: Service
metadata:
  name: clpaas-nest
  namespace: dev
spec:
  type: NodePort
  selector:
    name: clpaas-nest
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30002
